.antTab{
    margin: 50px;
}

.form-profile{
    border: 1px solid rgba(0,0,0,0.1);
    width: 50%;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
 
    
}

form input{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    height: 5vh;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.btn-update{
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}