.featured .box{
   box-shadow: 0 0 20px 0 rgba(112 121 138 / 18%);
   border-radius: 6px;
   text-align: center;
   padding: 50px;
   cursor: pointer;
   margin-top: 10px;
}

.featured .box:hover{
    background-color: #ff9144;
    color: #fff;
    transition: 0.5s;
}

.featured img{
    width: 50px;
    width: 65px;
    margin: auto;
}

.featured h4{
    font-size: 15px;
}

.featured label{
    font-size: 15px;
}
@media all and (min-width: 768px) and (max-width: 1024px) { 
.grid5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}   
.featured .box{
    box-shadow: 0 0 20px 0 rgba(112 121 138 / 18%);
    border-radius: 6px;
    text-align: center;
    padding: 50px;
    cursor: pointer;
    margin-top: 10px;
 }
 
}



@media all and (min-width: 480px) and (max-width: 768px) { 
    .grid5{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }   
    .featured .box{
        box-shadow: 0 0 20px 0 rgba(112 121 138 / 18%);
        border-radius: 6px;
        text-align: center;
        padding: 50px;
        cursor: pointer;
        margin-top: 10px;
     }
}

@media all and (max-width: 480px) { 
    .grid5{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }   
}
 