.recent .text{
    padding:30px;
}

.recent .category span{
    padding: 4px 15px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
}

.recent .category i{
    font-size: 20px;
    color: #bec7d8;
}

.recent span{
    margin-left: 12px;
    font-size: 20px;
    color: #0057ff;
    font-weight: 600;
}

.recent label{
    font-size: 20px;
}

.recent h4{
    font-size: 20px
}

.recent p{
   color: #72809d; 
}

.recent .button{
    border-top: 1px solid #efe8f3;
    
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    .grid3{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) { 
    .grid3{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media all and (max-width: 480px) {
    .grid3{
        display: grid;
        grid-template-columns: 1fr;
    }
 }
 