h4{
    text-align: center;
 }
 
 .socials:hover{
     color: #ff9144;
 }
.fLogo{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
}