h4{
    text-align: center;
 }
 
 .socials{
    font-size: 14px;
 }


 .socials:hover{
     color: #ff9144;

 }
.fLogo{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
    font-size: 14px;
}
