.login {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #78cee2, #5dc0ce, #43b2b9, #27a4a2, #01968b);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginLogo {
    font-size: 70px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px #ff9343;
  }
  
  .loginDesc {
    font-size:25px;
  }
  
#logInLabel{
    padding-left: 35px;
  }

  .loginBox{
      height: 400px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .logInHere{
    font-size: 30px;
    padding-left: 30px;
  }
  
  .loginInput{
      height: 50px;
      border-radius: 5px;
      border: 1px solid gray;
      font-size: 18px;
      padding-left: 20px;
      width: 400px;
      margin: 0 auto;
  }
  
  .loginInput:focus{
      outline: none;
  }
  
  .loginButton{
      height: 50px;
      border-radius: 5px;
      border: solid #ff9343;
      background-color: #ff9343 ;
      color: white;
      font-size: 20px;
      font-weight: 500;
      width: 400px;
      margin: 15px auto;
      cursor: pointer;
  }
  
  .logInText{
    font-size: 15px;
    text-align: center;
}
a{
    text-decoration: underline;
    color: #1775ee;
}
